@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.cardPlaylist{
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 4fr 3fr 2fr 1fr;   
    grid-template-rows: 56px;
    transition-duration: .2s;
    transition-property: background-color, color;
    transition-timing-function: linear;
    cursor: default;
    @include FromMax($medium) {
        grid-template-columns: 0.5fr 0.3fr 10.7fr 0.3fr ;   
    }
    &__content-position{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $color-text-grey;
        min-width: 0px;
        & svg{
            display: none;
        }
    }
    &__content-image{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }
    &__content-description{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: $color-text-grey;
        max-width: calc(556px - 5px);
        padding: 0px 5px 0px 0px;
        overflow: hidden;
        span{
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__content-album{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: $color-text-grey;
        max-width: 433px;
        overflow: hidden;
        span{
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        @include FromMax($medium) {
            display: none;
        }
    }
    &__content-button-like{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        & .--actived{
            display: block;
            color: $color-green;
        }
    }
    &__content-duration{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: $color-text-grey;
        @include FromMax($medium) {
            display: none;
        }
    }
    &__button-like{
        background-color: transparent;
        color: $color-text-grey;
        display: none;
    }
    &:hover{
        background-color: $color-grey-cards-covers;
        & span{
            color: $color-white;
        }
        & .cardPlaylist__content-position{
            & span{
                display: none;
            }
            & svg{
                color: $color-white;
                display: block;
            }
        }
        & .cardPlaylist__button-like{
            display: block;
        }
    }
}
