@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.cardPlaylist{
    display: grid;
    grid-template-columns: 0.2fr 0.3fr 4fr 3fr 2fr 1fr;   
    grid-template-rows: 56px;
    transition-duration: .2s;
    transition-property: background-color, color;
    transition-timing-function: linear;
    cursor: default;
    &__content-position{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $color-text-grey;
        & svg{
            display: none;
        }
    }
    &__content-image{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px;
    }
    &__content-description{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: $color-text-grey;
    }
    &__content-album{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: $color-text-grey;
    }
    &__content-button-like{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
    }
    &__content-duration{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: $color-text-grey;
    }
    &__button-like{
        background-color: transparent;
        color: $color-text-grey;
        display: none;
    }
    &:hover{
        background-color: $color-grey-cards-covers;
        & span{
            color: $color-white;
        }
        & .cardPlaylist__content-position{
            & span{
                display: none;
            }
            & svg{
                color: $color-white;
                display: block;
            }
        }
        & .cardPlaylist__button-like{
            display: block;
        }
    }
}
