@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.login{
    background-color: $color-black-1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__button{
        background-color: $color-green;
        padding: 15px 25PX;
        font-size: 25px;
        margin: 10px 0px;
    }
    &__image{
        width: 100%;
        max-width: 600px;
        background-color: transparent;
        margin-bottom: -100px;
        margin-top: -100px;
        @include FromMax($small) {
            width: 300px;
            margin-bottom: -50px;
            margin-top: -100px;
        }
    }
    &__text{
        color: $color-text-grey;
        @include FromMax($small) {
            font-size: 12px;
        }
        &.--text-1{
            color: $color-white;
        }
        &.--copy{
            margin: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
    &__copy-icon{
        color: #ffffff;
        margin: 0px 5px;
        width: 0.8em !important;
        height: 0.8em !important;
        font-size: 1.3rem !important;
    }
}
