@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.player{
    height: 9vh;
    width: 100%;
    background-color: $color-black-1;
    color: $color-white;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    @include FromMax(970px) {
        grid-template-columns: 4fr;
    }
    &__content-left{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include FromMax(970px) {
            display: none;
        }
        &__content-image{
            min-width: 60px;
            height: 60px;
            background-image:  url(../../../assets/images/logo-my-music-app.png);
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0px 10px;
            border-radius: 5px;
            &.--load{
                background: linear-gradient(90deg, #121212, #282828, #121212, #282828);
                background-size: 300% 100%;
                animation: gradientAnimation 4s linear infinite;
            }
            & .image-player{
                border-radius: 5px;
                width: 60px;
                height: 60px;
            }
        }
        &__content-text{
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            & span{
                & p{
                    color: $color-text-grey;
                    font-size: 0.6875rem;
                    min-height: 20px;
                    max-height: 40px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    &.--load{
                        min-height: 20px;
                        width: 75px;
                        overflow: hidden;
                        background: linear-gradient(90deg, #121212, #282828, #121212, #282828);
                        background-size: 300% 100%;
                        animation: gradientAnimation 4s linear infinite;
                    }
                }
            }
            &__title{
                font-size: 0.875rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                min-width: 40px;
                -webkit-box-orient: vertical;
                overflow: hidden;
                &.--load{
                    min-height: 20px;
                    width: 75px;
                    overflow: hidden;
                    background: linear-gradient(90deg, #121212, #282828, #121212, #282828);
                    background-size: 300% 100%;
                    animation: gradientAnimation 4s linear infinite;
                }
            }
        }
    }
    &__content-center{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        &__top{
            display: flex;
            align-items: center;
            color: $color-text-grey;

            & .--button-play{
                color: $color-white;
                font-size: 2.5em;
                cursor: pointer;
                margin: 0px 5px;
            }
            & .--button-skip{
                transition: color 1s linear;
                font-size: 2em; 
                cursor: pointer;
                &:hover{
                    color: $color-white;
                }
            }
            & .--button-repeat{
                transition: color 1s linear;
                cursor: pointer;
                font-size: 1.2em; 
                margin: 0px 5px;
                &:hover{
                    color: $color-white;
                }
            }
            & .--button-shuffle{
                transition: color 1s linear;
                cursor: pointer;
                font-size: 1.2em; 
                margin: 0px 5px;
                &:hover{
                    color: $color-white;
                }
            }
            
        }
        &__bottom{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -5px;
            & .--slider{
                width: 100%;
                max-width: 625px;
                color: $color-green;
            }
            &__time{
                margin: 0px 15px 0px 15px;
            }
        }
        & .--slider{
            & .css-14pt78w-MuiSlider-rail{
                color: $color-white !important;
            }
            & .css-1gv0vcd-MuiSlider-track{
                color: $color-white !important;
            }
            & .css-eg0mwd-MuiSlider-thumb{
                width: 0px !important;
                height: 0px !important;
            }
            & .css-7drnjp {
                width: 0px !important;
                height: 0px !important;
                color: $color-white !important;
            }
            &:hover{
                & .css-1gv0vcd-MuiSlider-track{
                    color: $color-green !important;
                }
                & .css-eg0mwd-MuiSlider-thumb{
                    width: 10px !important;
                    height: 10px !important;
                    color: $color-white !important;
                }
                & .css-7drnjp {
                    width: 10px !important;
                    height: 10px !important;
                    color: $color-white !important;
                }
            }
        }
    }
    &__content-right{
        display: flex;
        align-items: center;
        justify-content: center;
        @include FromMax(970px) {
            display: none;
        }
        & .--volume{
            color: $color-text-grey;
            margin: 0px 0px 0px 5px;
        }
        & .--queue{
            color: $color-text-grey;
        }
        & .--slider{
            width: 100%;
            max-width: 100px;
            color: $color-green;
        }
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }
}
