@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.MainView{
    width: 100%;
    background-color: $color-black-2;
    position: sticky;
    top: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__icon-back{
        color: $color-white;
        background-color: $color-black-1;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 20px;
    }
    .--image-user{
        color: red;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 3px solid $color-black-1;
        cursor: pointer;
        margin-right: 10px;
    }
}
