@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.MainView{
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    transition: background-color 1s ease;
    &__icon-back{
        color: $color-white;
        background-color: $color-black-1;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 20px;
    }
    .--image-user{
        color: red;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border: 3px solid $color-black-1;
        cursor: pointer;
        margin-right: 10px;
    }
    &.scrolled {
        background-color: #3d0616;
        border-radius: 8px;
    }
    &__image-options{
        position: relative;
    }
    &__options{
        background-color: $color-grey;
        position: absolute;
        width: 120px;
        border-radius: 5px;
        box-shadow: 2px 2px 22px 1px rgba(7, 7, 7, 0.712);
        text-align: center;
        top: 35px;
        padding: 10px;
        right: 10px;
        color: $color-text-grey;
        cursor: pointer;
        transition: color 0.2s ease 0s, color 0.2s ease 0s;
        font-size: 13px;
        &:hover{
            color: $color-white;
        }
    }
}
