@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.button{
    border-radius: 32px;
    background-color: $color-grey-buttons;
    color: $color-white;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    margin: 0px 4px;
    &:hover{
        background-color: $color-grey-hover;
    }
}
