// color
$color-white: #ffffff;
$color-black-1: #000000;
$color-black-2: #121212;
$color-grey: #181818;
$color-grey-cards-covers: #171717;
$color-grey-hover: #282828;
$color-grey-buttons: #232323;
$color-green: #1ed760;
$color-text-grey: #b3b3b3;

$gradiente1: linear-gradient(90deg, $color-black-2, $color-grey-hover, $color-black-2, $color-grey-hover);

/* Breakpoints */
$small: 440px;
$medium: 761px;
$large: 960px;
$x-large: 1024px;
$xx-large: 1200px;
$xxx-large: 1500px;
