@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.NavBarChoise{
    list-style-type: none;
    display: flex;
    &__description{
        cursor: pointer;
        color: $color-text-grey;
        display: flex;
        flex-direction: row;
        align-items: center;text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        transition-duration: .2s;
        transition-property: color;
        transition-timing-function: linear;
        width: 80%;
        margin: auto;
        &:hover{
            color: $color-white;
        }
        &.--active{
            color: $color-white;
        }
    }
    &__text{
        margin-left: 22px;
    }
    & .--closeNavBar{
        justify-content: space-evenly;
    }
}
